<main role="main">
    <div class="jumbotron">
      <div class="container">

          <div class="row">
              <div class="col-md-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png" alt="" width="150">
              </div>
              <div class="col-md-10">
                <h2 class="display-4" style="font-weight:bold">Arthemis</h2>
                <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Ler Mais &raquo;</a></p>
              </div>
          </div>

      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">Ver detalhes &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">Ver detalhes &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">Ver detalhes &raquo;</a></p>
        </div>
      </div>
      <hr>
    </div> <!-- /container -->
  </main>

    <main role="main">
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4" >
              <a routerLink="/movies" style="text-decoration: none; color: black">
                <div class="card mb-4 shadow-sm">
                  <img class="card-img-top" src="https://static2.tgstat.com/public/images/channels/_0/08/08f4ea66034469205070e27c4cf0494c.jpg">
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-md-4">
              <a routerLink="/tv" style="text-decoration: none; color: black">
                <div class="card mb-4 shadow-sm">
                  <img class="card-img-top" src="http://www.themoviemaniacs.com/wp-content/gallery/breaking-bad-maniacs/Crappy-Mexican-Heisenberg-Drawing-Breaking-Bad.jpg">
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-md-4">
              <a routerLink="/books" style="text-decoration: none; color: black">
                <div class="card mb-4 shadow-sm">
                  <img class="card-img-top" src="https://st2.depositphotos.com/4643771/7750/v/950/depositphotos_77503290-stock-illustration-sketch-of-a-stack-books.jpg">
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </div>

      <section class="jumbotron text-center">
        <div class="container">
          <h3 class="jumbotron-heading"><b>Footer</b></h3>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
          </p>
        </div>
      </section>

    </main>
